.mobile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

.phone {
  position: relative;
  width: 280px;
  height: 570px;
  background: #111;
  border-radius: 40px;
  padding: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.phone-notch {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 25px;
  background: #111;
  border-radius: 20px;
  z-index: 3;
}

.phone-screen {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 30px;
}

.phone-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Arrow Buttons */
.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 50%;
  background: rgba(17, 17, 18, 0.8);
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 2;
}

.slider-btn:hover {
  background: rgb(16, 16, 16);
  transform: translateY(-50%) scale(1.1);
}

.slider-btn.left {
  left: 10px;
}

.slider-btn.right {
  right: 10px;
}

/* Bottom Dots */
.dots {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  width: 28px;
  border-radius: 20px;
  background: rgb(14, 14, 14);
}